.headphone-list-item{
    width: 350px;
    height: 407px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;   
    display: block;
}

.headphone-image{
    width: 219.61px;
    height: 237.07px;
    padding-top: 15px;
    margin: auto;
}

.information-sale{
    margin-top: 55px;
    display: block;
}

.headphone-title{
    width: 170px;
    min-height: 60px;
    float:left;
    margin-left:22px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #1C1C27;
}
.headphone-discount{
    float: right;
    font-family: 'Montserrat';
    font-style: normal;
    margin-right: 13px;
    font-weight: 600;
    font-size: 16.2934px;
    line-height: 20px;

    color: #DF6464;
}

.headphone-price{
    text-align: right;
    float:right;
    width: 80px;
    margin-right: 21px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #FFA542;
}

.price-with-discount{
    text-align: right;
    float:right;
    width: 80px;
    margin-right: 21px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 19.1687px;
    line-height: 23px;
    color: #DF6464;
}

.headphone-old-price{
    width: 130px;
    text-align: right;
    float: right;
    margin-right: 21px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #FFCE7F;
    height: 16px;
}

.headphone-rate{
    width: 200px;
    margin-left:22px;
    float: left;
    display: flex;
}

.headphone-vector{
    float:left;
    color: #FFCE7F;
    margin-right: 10px;
}

.headphone-rate-estimation{
    font-family: 'Montserrat';
    font-style: normal;
    padding-top: 3px;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #838383;
}

.button-buy{
    outline:none;
    float: right;
    margin-right:18px;
}
button.buy{
    cursor: pointer;
    background-color: #FFFFFF;;
    outline:none;
    border:none; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #010101;
}

.favorite{
    cursor: pointer;
    background-color: #FFFFFF;;
    outline:none;
    border:none; 
}