.empty-favorite-cart {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: #000000;
    height: 180px;
    display: flex;
    align-items: center;
    margin: auto;
}

.empty-favorite-cart-button-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.favorite-button-container {
    max-width: 1110px;
    display: flex;
    justify-content: center;
}

.empty-favorite-cart-button {
    cursor: pointer;
    width: 750px;
    margin-top: -20px;
    height: 65px;
    background: #101010;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.favorite-card {
    display: flex;
    flex-wrap: wrap;
    max-width: 1110px;
    height: 280px;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin-bottom: 20px;
    justify-content: space-between;
    min-width: 600px;
}

.favorite-empty-card {
    display: flex;
    flex-direction: column;
    max-width: 1110px;
    height: 200px;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin-bottom: 20px;
    justify-content: center;
}

.favorite-cart-all {
    display: flex;
    flex-wrap: wrap;
}

.thing-in-favorite {
    margin-top: 13px;
    width: 1110px;
}

.favorite-cart {
    max-width: 1110px;
    margin: auto;
    min-height: calc(100vh - 149px - 60px);
}

.favorite-title-cart {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1c1c27;
    height: 30px;
}

.headphone-favorite-cart-image {
    width: 219.61px;
    height: 237.07px;
    padding-left: 30px;
    padding-top: 20px;
}

.description-favorite-cart-item {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title-favorite-item {
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 24px;
    color: #1c1c27;
    text-align: center;
    text-decoration: none;
}

.title-favorite-item:hover {
    color: #838383;
    text-decoration: underline;
}

.headphone-favorite-rate {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 24px;
    color: #1c1c27;
    display: flex;
    max-width: 50px;
    justify-content: space-between;
    align-items: center;
}

.rate-favorite-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #838383;
}

.rate-favorite-item-vector {
    color: #ffce7f;
}

.favorite-rate-and-price {
    max-width: 600px;
    display: flex;
    justify-content: space-between;
}

.favorite-price-and-discount {
    display: flex;
    flex-direction: column;
}

.favorite-container-price {
    display: flex;
}

.favorite-discount {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #df6464;
    margin-left: 15px;
}

.favorite-price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 21px;
    color: #ffa542;
}

.price-favorite-with-discount {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 21px;
    color: #df6464;
}

.favorite-old-price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #ffce7f;
    height: 16px;
}

.favorite-button-buy {
    outline: none;
    float: right;
    margin-top: 30px;
}
.favorite-buy {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #ffffff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #010101;
}
