.header{
    width: 1135px;
    height: 60px;
    padding: 0;
    margin: auto;
    display: flex;
    align-items: center;
}
.header .title-site{
    float: left;
    padding-left:10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #101010;
    margin-right: 908px;
}

.buttons-header{
    display: flex;
    text-decoration: none;
}

.header-favourites{
    margin-top: 20px;
    margin-right: 20px;
}

.header-favourites img{
    position: relative;
}

.button-favourites-count{ 
    z-index: 1;
    left: -8px;
    top: -8px;
}
.header-favourites span{
    position: relative;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.button-favourites-count-number{
    z-index: 1;
    left: -21px;
    top: -13px;
}

.header-cart{
    margin-top: 19px;

}

.header-cart img{
    position: relative;
}

.button-cart-count{ 
    z-index: 1;
    left: -8px;
    top: -12px
}
.header-cart span{
    position: relative;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.button-cart-count-number{
    z-index: 1;
    left: -22px;
    top: -16px;
}