.list-main{
    width: 1110px;
    padding: 0;
    margin: auto;
    min-height:calc(100vh - 149px - 60px)
}

.headphones-list{
    width: 1110px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: auto;
}
.type-headphones{
    margin-bottom: 20px;
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #838383;
}

.headphones-list i:not(:nth-child(3n)){
    margin-right: 30px;
}

.headphones-list i{
    margin-bottom: 30.65px;
}

.spinner-container{
    width: 1110px;
    margin: auto;       
    display: flex;
    align-items: center;             
    min-height:calc(100vh - 149px - 60px);
}